.footer {
    width: 1189px;
    height: 645px;
    background: #F8F8F8;
    border-radius: 50px;
    display: flex;
    margin-bottom: 146px;
    margin-top: 280px;
}

.footer1 {
    margin-left: 81px;
    margin-top: 44px;

}

.footer1 p {
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #191919;
    margin-top: 35px
}

.footer1 a {
    width: 111px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-decoration-line: underline;
    color: #285CAB;
}

.footer2 {
    margin-left: 166px;
    margin-top: 49px;
    height: 596px;
    width: 596px;
    display: block;
}

.footer2 a {
    width: 142px;
    height: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
}

.footera {
    display: flex;
}

.footera1 a {
    display: block;
    margin: 0 0 20px 0;
}

.dada {
    /* Политика конфиденциальности */
    height: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
    margin-top: 65px;
    text-align: end;
    margin-right: 82px;

}

.kivatext1 {
    display: flex;
}

.kivatext1 h1 {
    width: 149px;
    height: 77px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #285CAB;
    margin-top: 130px;

}

.kivatext1 p {
    width: 910px;
    height: 29px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #191919;
    margin-top: 166px;
    margin-left: 45px;
}

.kivatext2 {
    width: 994px;
    height: 87px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
    margin-top: 100px;
}

.kivatext3 {
    margin-top: 100px;
}

.kivatext3 h1 {

    width: 305px;
    height: 76px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #285CAB;
}

.kivatext3 p {
    width: 1017px;
    height: 33px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
    margin-top: 34px;
}

.kivatext4 {
    width: 915px;
    height: 99px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 100px;
}

.kivatext5 {
    margin-top: 100px;
}

.kivatext5 h1 {

    width: 305px;
    height: 76px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #285CAB;
}

.kivatext5 p {
    width: 1017px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
    margin-top: 34px;
}

.kivatext6 {
    width: 1132px;
    height: 33px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #285CAB;
    margin-top: 100px;
}

.kivatext7 {
    width: 1032px;
    height: 76px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #285CAB;
    margin-top: 100px;
}

.Учителя {
    display: flex;
    margin-top: 71px;
    justify-content: space-between;
    width: 1200px;

}

.Учителяблок {
    display: block;
    text-align: center;
    width: 383px
}

.Учителяблок img {
    width: 383px;
    height: 264px;
    border-radius: 50px;
    background-color: #D9D9D9;
    border-color: transparent;
}

.Учителяблок h1 {
    width: 383px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    ;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #285CAB;
}

.Учителяблок p {
    width: 383px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-align: center;


}

.kivatext8 {
    width: 988px;
    height: 88px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #191919;
    margin-top: 100px;
}
@font-face {
    font-family: Lucida;
    src: url(fonts/lucidasansunicode.ttf);
}



body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    padding: 0px;
}

.listokglav {
    width: 1456px;
    justify-content: center;
    height: 100%;
    color: #F1F1F1;
}

header {
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-style: solid;
    border-color: #305cac;
    border-width: 1px;
}

.linkblack {
    color: black;
    text-decoration: none;
}

.logo {
    width: 70px;
    height: 60px;
    border: none;
    background-image: url('img/Logo.png');
    background-size: cover;

}

.no-border {
    border: 0 !important;
    box-shadow: none;
}
.show {
    border: none;
}
.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}
.dropdown-item :hover{
    background-color: #A0D943;

}
.dropdown-menu{
    
    background: #FFFFFF;
    border-radius: 10px;
}
.dropdown-toggle {
    border: none;
}
.dropdown-menu a:hover{
    background-color: #A0D943;
    border-radius: 10px;
}
.dropdown-menu {
    box-shadow: 0 100041px 0 100000px rgba(255, 255, 255, 0.5);
    border: none;
    border-color: transparent;
    position: relative;
    z-index: 1;
}
.shadow-none{
    box-shadow: none;
}
.Zindex{
    position: relative;
    z-index: 2;
}
.dropdown {
    border-radius: 20px;
    margin: 35px;
    border-color: transparent;
    border: none;
}
.d120px{
    margin-left: 120px;
}