@font-face {
    font-family: Lucida;
    src: url(fonts/lucidasansunicode.ttf);
}



body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    padding: 0px;
}

.listokglav {
    width: 1456px;
    justify-content: center;
    height: 100%;
    color: #F1F1F1;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-style: solid;
    border-color: #305cac;
    border-width: 1px;
}

.linkblack {
    color: black;
    text-decoration: none;
}

.logo {
    width: 70px;
    height: 60px;
    border: none;
    background-image: url('../img/Logo.png');
    background-size: cover;

}

.no-border {
    border: 0 !important;
    box-shadow: none;
}
.show {
    border: none;
}
.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}
.dropdown-item :hover{
    background-color: #A0D943;

}
.dropdown-menu{
    
    background: #FFFFFF;
    border-radius: 10px;
    z-index: 3;
}
.dropdown-toggle {
    border: none;
}
.dropdown-menu a:hover{
    background-color: #A0D943;
    border-radius: 10px;
}
.dropdown-menu {
    box-shadow: 0 100041px 0 100000px rgba(255, 255, 255, 0.5);
    border: none;
    border-color: transparent;
    position: relative;
    z-index: 1;
}
.shadow-none{
    box-shadow: none;
}
.Zindex{
    position: relative;
    z-index: 2;
}
.dropdown {
    border-radius: 20px;
    margin: 35px;
    border-color: transparent;
    border: none;
}

.Picmain {
    width: 851px;
    height: 481px;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    border: none;
    border-color: transparent;
    



}


.block13 h1 {
    width: 605px;
    height: 154px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 64px;
    line-height: 120.77%;
    color: #191919;
}

.block13 p {
    width: 605px;
    height: 174px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
}

.block13 {
    margin-top: 200px;
    height: 593px;
}

.block1 {
    margin-top: 110px;
    height: 593px;
}

.textblock1 h1 {
    width: 447px;
    height: 116px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #191919;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-weight: bold;
}

.textblock1 {
    display: block;
    margin-left: 79px;
}

.textblock1 p {
    width: 407px;
    height: 208px;
    font-family: 'Lucida Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #191919;
}

.textblock1 button {
    background-color: #A0D943;
    border-radius: 30px;
    width: 282px;
    height: 48px;
    border-color: transparent;
}

.pupa {
    max-width: 1456px;
    padding: none;
}

.container {
    padding-right: calc(var(--bs-gutter-x)* .0);
    padding-left: calc(var(--bs-gutter-x)* .0);
}

.mainblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainblock1{
    display: flex;
    align-items: center;
}

.textblock1 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}



.textblock1 button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

.block1btndwn {
    display: flex;
}

.block2btndwn {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-left: 46px;

}

/* Dropdown Button */
.dropbtn2 {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;

}

.dropdown2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: transparent;
    width: 120px    ;


}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}
.toplane {
    display: block;
}

.linebl1 {
    height: 3px;
    width: 50px;
    background-color: #A6DE4A;
}   

.новостиглав {
    width: 1193px;
    height: 1473px;
}

.новостизаглав {
    display: flex;
    justify-content: space-between;
    width: 1193px;
}

.новостизаглав h1 {
    /* Новости */
    width: 283px;
    height: 71px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #191919;
}

.новостизаглав a {
    /* Больше новостей */
    width: 210px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-decoration-line: underline;
    color: #285CAB;
}

.Новость {
    display: flex;
    width: 1175px;
    margin-top: 60px;
}

.новостьпнг {
    width: 483px;
    height: 383px;
    border-radius: 50px;
}

.новостьдата {
    display: flex;
    /* 11.10.23 */
    width: 204px;
    height: 101px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: #191919;
}

.новостьтема {
    /* Леннусадам музей */

    width: 223px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #191919;


}

.новоститекст {

    width: 524px;
    height: 168px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
}

.news {
    width: 1193px;
    height: 1473px;
}

.calender {
    width: 1198px;
    height: 823px;
}

.Календарьзаглав {
    display: flex;
    justify-content: space-between;
    width: 1190px;
}

.Календарьзаглав h1 {
    width: 752px;
    height: 71px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #191919;
}

.Календарьзаглав a {
    width: 210px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-decoration-line: underline;
    color: #285CAB;
    justify-content: center;
    text-align: right;
}

.Календарьраздел {
    width: 1190px;
    height: 138px;
    display: flex;
    margin-top: 66px;
    border-bottom-width: 1190px;
    border-bottom: 1px solid #191919;
    ;
}

.Календарьдата {
    width: 206px;
    height: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    color: #285CAB;
}

.Календарьнедели {
    width: 158px;
    height: 38px;
    margin-top: 52px;
    margin-left: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(25, 25, 25, 0.7);
    text-align: left;
}

.Календарьтекст {
    margin-top: 52px;
    width: 800px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #191919;
    text-align: end;
}

.menuzvonki {
    display: flex;

}

.menutable {
    width: 585px;
    height: 384px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 51px rgba(236, 236, 236, 0.25);
    border-radius: 50px;
    margin-top: 64px;


}

.menutable p {
    margin-left: 50px;
    width: 408px;
    height: 27px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #191919;
    margin-top: 45px;


}

.menutablebuttons {
    display: flex;
    justify-content: space-between;
    width: 459px;
    height: 75px;
    margin-left: 50px;
}

.menutablebuttons button {
    margin-top: 53px;
    background-color: transparent;
    border-color: transparent;
    color: black;
}

.Raspisanie {
    width: 521px;
    height: 1077px;
    justify-content: space-between;
}

.Raspisanie h1 {
    margin-left: 85px;
}


.Raspisanietable {
    width: 520px;
    height: 960px;
    background: white;
    box-shadow: 0px 4px 51px rgba(236, 236, 236, 0.25);
    border-radius: 50px;
    margin-top: 64px;
    margin-left: 85px;
}

.Raspisanietable button {
    width: 359px;
    height: 54px;
    background: #285CAB;
    border-radius: 30px;
    border: transparent;
    margin-left: 79px;
    margin-top: 56px;

}

.uroki {
    width: 136px;
    height: 57px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #191919;
    margin-top: 37px;
    margin-left: 64px;
}

.uroki p {
    margin-top: 38px;
}

.vrema {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #191919;
    text-align: right;
    height: 38px;
    width: 238px;
    margin-top: 25px;
    margin-right: 84px;
}

.vrema p {
    margin-top: 58px;
}


.gallery {
    width: 1196px;
    height: 1127px;
}

.galleryheadermain {
    display: flex;

}

.galleryheadermain h1 {
    width: 265px;
    height: 71px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #191919;
}

.galleryheadermain a {
    width: 213px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-decoration-line: underline;
    color: #285CAB;
    margin-left: 710px;
}

.gallery {
    display: block;
}

.gallery1 {
    display: flex;
    width: 1192px;
    height: 960px;

    margin-top: 118px;
}

.galleryphotos {
    display: block;
}

.galleryphotos img {
    position: relative;
}

/*о школе*/
.Ценноститекст {
    margin-top: 30px;
    width: 1200px;
    height: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 28px;
    color: #191919;
    text-align: left;
}

.Ценностидата {
    width: 110px;
    height: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
}

.Миссиязаглав {
    display: flex;
}

.Миссиязаглав h1 {
    width: 450px;
    height: 71px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: rgb(40, 92, 171)
}

.Миссиязаглав p {
    width: 537px;
    height: 87px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
    margin-left: 112px;
}

.lisainfo {
    width: 1189px;
    height: 645px;
    background: #FFFFFF;
    opacity: 0.5;
    box-shadow: 0px 4px 51px rgba(236, 236, 236, 0.25);
    border-radius: 50px;
    margin-top: 250px;
    margin-bottom: 50px;
}


.footer {
    width: 1189px;
    height: 645px;
    background: #F8F8F8;
    border-radius: 50px;
    display: flex;
    margin-bottom: 146px;
    margin-top: 280px;
}

.footer1 {
    margin-left: 81px;
    margin-top: 44px;

}

.footer1 p {
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #191919;
    margin-top: 35px
}

.footer1 a {
    width: 111px;
    height: 38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-decoration-line: underline;
    color: #285CAB;
}

.footer2 {
    margin-left: 166px;
    margin-top: 49px;
    height: 596px;
    width: 596px;
    display: block;
}

.footer2 a {
    width: 142px;
    height: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
}

.footera {
    display: flex;
}

.footera1 a {
    display: block;
    margin: 0 0 20px 0;
}

.dada {
    /* Политика конфиденциальности */
    height: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
    margin-top: 65px;
    text-align: end;
    margin-right: 82px;


}
 .knopkiniz{
   
    background: transparent;
    justify-content: center;
    z-index: 1;
 }
 .knopkiniz a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
    background: none;
    text-align: center;
    padding: 0;

 }
 .knopkiniz a:hover{
    height: 29px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
    text-decoration-line: underline;
    text-decoration-thickness: 0.2em;
    text-decoration-color: #A6DE4A;
    text-underline-offset: 8px;
    background-color: transparent;
    border-radius: 0;


 }
 .knopkitop{
   
    background: transparent;
    justify-content: center;
 }
 ul.knopkiniz {
    background-color: transparent;
    position: relative;
    z-index: 3; 
    background-color: #F1F1F1;
}

a.knopkastyle{
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #A6DE4A;
    text-underline-offset: 8px;
    position: relative;
    left: 42px;
}
a.knopkastyle:hover{
    text-decoration-line: none;
    text-decoration-thickness: none;
    text-decoration-color:none;
    text-underline-offset: none;
    position: relative;
    left: 42px;
    background-color: #A6DE4A;
    border-radius: 30px;
}

.dropdown-center{
    margin-top: 18px;
    margin-left: 30px;
}


.knopkintop{
   
    background: transparent;
    justify-content: center;
 }
 .knopkintop a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #191919;
    background: none;
    text-align: center;
    padding: 0;
    

 }
 .knopkintop a:hover{
    height: 29px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
    text-decoration-line: underline;
    text-decoration-thickness: 0.2em;
    text-decoration-color: #A6DE4A;
    text-underline-offset: 5px;
    background-color: transparent;
    border-radius: 0;


 }
 .knopkitop{
   
    background: transparent;
    justify-content: center;
 }
 ul.knopkintop {
    background-color: transparent;
    position: relative;
    background-color: #F1F1F1;
}
a.knopkastyle1{
    text-decoration-line: overline;
    text-decoration-thickness: 3px;
    text-decoration-color: #A6DE4A;
    text-underline-offset: 8px;
    position: relative;
    left: 42px;
    height: 38px;
    margin-left: 30px;
}
a.knopkastyle1:hover{
    text-decoration-line: none;
    text-decoration-thickness: none;
    text-decoration-color:none;
    text-underline-offset: none;
    position: relative;
    left: 42px;
    background-color: #A6DE4A;
    border-radius: 30px;
}
.dropup-center{
    margin-bottom: 18px;
}

.textblock1v2 h1 {
width: 605px;
height: 134px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 64px;

color: #191919;
}

.textblock1v2 {
    display: block;
    margin-left: 79px;
}

.textblock1v2 p {

    width: 605px;
    height: 154px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 36px;
    color: #191919;
}




.photonovost{


width: 483px;
height: 383px;
border-radius: 50px;

}


.pictcha1{
    width: 383px;
    height: 526px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    border-top-left-radius:30px ;
    border-top-right-radius:30px  ;
    background-color: #A0D943;
    }
.pictcha2{
    width: 383px;
    height: 548px;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px  ;
    clip-path: polygon(0 23%, 100% 0, 100% 100%, 0% 100%);
    background-color: #A0D943;
}
.pictcha3{
    width: 383px;
    height: 650px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    border-top-left-radius:30px ;
    border-top-right-radius:30px  ;
    background-color: #A0D943;
}
.pictcha4{
    width: 383px;
    height: 450px;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px  ;
    clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%);
    background-color: #A0D943;
}
.pictcha5{
    width: 383px;
    height: 505px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    border-top-left-radius:30px ;
    border-top-right-radius:30px  ;
    background-color: #A0D943;
}
.pictcha6{
    width: 383px;
    height: 554px;
    border-bottom-left-radius:30px ;
    border-bottom-right-radius:30px  ;
    clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
    background-color: #A0D943;  
}